[Unit]
Description=Tuerschloss
After=pcscd.service

[Service]
Type=exec
ExecStart=/usr/local/bin/tuerschloss
User=tuerschloss
Restart=always
WorkingDirectory=/etc/tuerschloss

[Install]
WantedBy=multi-user.target
